/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

select, button {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

button {
    background-color: #28a745;
    color: white;
}

button:hover {
    background-color: #218838;
}

#story-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 20px;
    margin-top: 20px;
    min-height: 100px;
    text-align: left;
}

.word-container {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.word-container:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.pinyin {
    display: none;
    font-size: smaller;
    color: grey;
}

.show-pinyin .pinyin {
    display: block;
}

#tooltip {
    position: fixed;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    display: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.4;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .container, #story-container, #audit-results {
        width: 95%;
    }

    select, button {
        padding: 8px 12px;
    }

    .word-container {
        display: inline-block; /* maintain inline-block for better control */
        margin: 3px;
        max-width: 100%; /* ensure it doesn't overflow */
    }

    .show-pinyin .pinyin {
        display: block; /* adjust pinyin to display as block for readability */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.75em;
    }

    select, button {
        width: 100%;
        margin: 8px 0;
    }

    .word-container {
        display: inline-block; /* maintain inline-block for mobile as well */
        margin: 2px;
        max-width: 100%; /* prevent overflow on small screens */
    }

    .show-pinyin .pinyin {
        display: block; /* keep pinyin as block on small screens */
    }

    #tooltip {
        font-size: 12px;
    }
}